.table {
  width: 100%;
  border: 2px solid black;
  background-color: rgb(139, 142, 144);
  color: black;
}

.text {
  font-weight: 50px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
